<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Priority</th>
      <th>Attempts</th>
      <th>Queue</th>
      <th>Handler</th>
      <th>Run At</th>
      <th>Updated At</th>
      <th>Created At</th>
      <th>Locked At</th>
      <th>Locked By</th>
      <th>Last Error</th>
      <th>Failed At</th>
      <th>Tags</th>
    </tr>
  </thead>
  <tbody>
    <% if jobs.any? %>
      <% jobs.each do |job| %>
        <tr>
          <td><%= job.id %></td>
          <td><%= job.priority%></td>
          <td><%= job.attempts %></td>
          <td><%= job.queue %></td>
          <td><%= job.handler %></td>
          <td><%= l(job.run_at, format: :short) %></td>
          <td><%= l(job.updated_at, format: :short) %></td>
          <td><%= l(job.created_at, format: :short) %></td>
          <td><%= l(job.locked_at, format: :short) %></td>
          <td><%= job.locked_by %></td>
          <td><%= link_to truncate(job.last_error), job_path(job) %></td>
          <td><%= l(job.failed_at, format: :short) %></td>
          <td><%= job.tags %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="13">
          <p>No Jobs</p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
