<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Delayed Job Web</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
  </head>
  <body>
    <div class="header">
      <ul class="nav">
        <% tabs.each do |tab| %>
          <li class="<%= request.path_info == tab[:path] ? 'current' : '' %>">
            <a class="tab" href="<%= u(tab[:path]) %>">
              <%=h tab[:name] %>
            </a>
          </li>
        <% end %>
        <li>
          <form method="get" id="search_options" class="header-queues" action="" style="display:inline; width: 100%;">
            <select id='search_type' name="search_field">
              <option value=""> Select Field</option>
              <option value="queue">Queue</option>
              <option value="handler">Handler</option>
              <option value="tags">Tags</option>
              <option value="last_error">Last Error</option>
            </select>
            <input name="queues" type="text" value="<%=h @queues.join(", ") %>" style="width: 300px;" placeholder="Filter jobs by queue name (e.g. queue1, queue2)" />
            <input type="submit" value="Filter" />
          </form>
        </li>
      </ul>
    </div>
    <div id="main">
      <%= yield %>
    </div>
    <script src="<%= u("javascripts/jquery-1.7.1.min.js") %>" type="text/javascript"></script>
    <script src="<%= u("javascripts/jquery.relatize_date.js") %>" type="text/javascript"></script>
    <script type="application/javascript">
      $(document).ready(function() {
        $('#chkParent').click(function() {
          var isChecked = $(this).prop("checked");
          $('#tblData tr:has(td)').find('input[type="checkbox"]').prop('checked', isChecked);
        });

        $('#tblData tr:has(td)').find('input[type="checkbox"]').click(function() {
          var isChecked = $(this).prop("checked");
          var isHeaderChecked = $("#chkParent").prop("checked");
          if (isChecked == false && isHeaderChecked)
            $("#chkParent").prop('checked', isChecked);
          else {
            $('#tblData tr:has(td)').find('input[type="checkbox"]').each(function() {
              if ($(this).prop("checked") == false)
                isChecked = false;
            });
            $("#chkParent").prop('checked', isChecked);
          }
        });
      });

      $("form#add_tags").submit(function (event) {
        event.preventDefault();
        var ids = [];
        var input = $('form#add_tags input[name=tag]').val().split(',');
        var tags = $.map(input, $.trim);
        $('table tbody tr td.job_id').map(function(){ids.push($(this).text())});
        $.ajax({
          type: 'POST',
          url: '/delayed_job/add_tags',
          headers: { 'X-CSRF-TOKEN': $('meta[name="_token"]').attr('content') },
          data: {tags: tags, ids: ids},
          dataType: 'json',
          success : function(json){
            console.log(json);
          }
        });
      });

      $("form#delete_jobs").submit(function (event) {
        event.preventDefault();
        var ids = [];
        $('table tbody td input[name="jobid"]:checked').map(function(){ids.push($(this).val())});
        $.ajax({
          type: 'DELETE',
          url: '/delayed_job/delete_jobs',
          data: {ids: ids},
          dataType: 'json',
          success : function(json){
            console.log(json);
          }
        });
      });

      $('span.close').click(function(){
        $('.modal').css("display", "none");
      });

      $('button.moreInfo').click(function(){
        $(this).siblings('div.modal').css("display", "block");
      });
    </script>
    <script src="<%= u("javascripts/application.js") %>" type="text/javascript"></script>
  </body>
</html>
