<h1>
  Overview
</h1>
<p class="sub">
  The list below shows an overview of the jobs in the delayed_job queue.
</p>
<table class="overview">
  <tr>
    <th>Status</th>
    <th>Count</th>
  </tr>
  <tr>
    <td class="status">
      <a href="<%= u('/enqueued') %>?queues=<%= @queues.join(",") %>">Enqueued Jobs</a>
    </td>
    <td>
      <%= delayed_job.count %>
    </td>
  </tr>
  <tr>
    <td class="status">
      <a href="<%= u('/working') %>?queues=<%= @queues.join(",") %>">Working Jobs</a>
    </td>
    <td>
      <%= delayed_jobs(:working, @queues).count %>
    </td>
  </tr>
  <tr>
    <td class="status">
      <a href="<%= u('/pending') %>?queues=<%= @queues.join(",") %>">Pending Jobs</a>
    </td>
    <td>
      <%= delayed_jobs(:pending, @queues).count %>
    </td>
  </tr>
  <tr class="<%= delayed_jobs(:failed).count > 0 ? 'failure' : '' %>">
    <td class="status">
      <a href="<%= u('/failed') %>?queues=<%= @queues.join(",") %>">Failed Jobs</a>
    </td>
    <td>
      <%= delayed_jobs(:failed, @queues).count %>
    </td>
  </tr>
</table>
<%= poll %>
